block title
	title APPROVE PACKING
.portlet.box.grey(ng-if="ajax_ready", ng-init="formInit()")
	.portlet-title
		.caption
			i.fa.fa-reorder
			| {{title}}
		.tools
			a.collapse(href="javascript:;")
			a.config(href="#portlet-config", data-toggle="modal")
			a.reload(href="javascript:;")
			a.remove(href="javascript:;")
	.portlet-body.form
		form.form-horizontal(role="form", name="save_form", ng-submit="save_form.$valid && saveSales()", novalidate)
			.form-body
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input.form-control(type="text", ng-model="sales.sono", readonly)
								span.col-md-12.help-block SO Number
					.col-md-6
						.form-group(ng-show="sales.sono")
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
						.form-group(ng-show="sales.pfno")
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input.form-control(type="text", ng-model="sales.pfno", readonly)
								span.col-md-12.help-block PF Number
				.row
					.col-md-1
					.col-md-10
						.form-group
							.col-xs-12.col-sm-12.col-md-12.col-lg-12(align="center")
								input.form-control(type="text", ng-model="sales.customer.company_name", disabled)
								span.col-md-12.help-block Customer
					.col-md-1
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input.form-control(type="text", ng-model="sales.customer.sales_executive", disabled)
								span.col-md-12.help-block Sales Executive
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input.form-control(type="text", ng-model="sales.delivery_method", disabled)
								span.col-md-12.help-block Delivery Method
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select.select2me.form-control.select2-offscreen(ng-model="sales.inventory_location", ng-options="inventory_location._id as inventory_location.company_name for inventory_location in inventory_locations", ng-selected="{{sales.inventory_location}}" ,tabindex="-1", disabled, required)
								span.col-md-12.help-block Inventory Location
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input.form-control(type="text", ng-model="sales.delivery_date", datepicker-popup="{{'MM/dd/yyyy'}}", disabled)
								span.col-md-12.help-block Delivery Date
					.col-md-1
				.portlet.box.grey
					.portlet-title
						.caption
							i.fa.fa-reorder
							| ORDERED ITEMS
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.form-body
							br
							br
							.form-group
								.col-md-1
								.col-md-10
									.row
										br
										.col-md-12
											.portlet-body.flip-scroll
												table.table.table-bordered.table-condensed.flip-content
													thead.flip-content.bg-grey
														tr
															th Code
															th Product
															th Quantity
															th Unit Price
															th Total
													tbody
														tr(ng-repeat="ordered_item in sales.ordered_items track by $index")
															td {{ordered_item.bl_code}}
															td {{ordered_item.name}}
															td {{ordered_item.quantity}}
															td {{ordered_item.price}}
															td {{ordered_item.total}}
								.col-md-1
			.row
				.col-md-6
					.form-group
						.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
							input.form-control(type="text", ng-model="sales.prepared_by", ng-disabled="action=='read'", required)
							span.col-md-12.help-block Prepared By
				.col-md-6
					.form-group
						.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
			.form-actions.fluid
				.row
					.col-md-6
						.col-md-offset-3.col-md-9
							button.btn.green(type="submit" ng-show="save_form.$valid && action!='read'") Submit
							| &nbsp;
							a.btn.default(type="button", href="/#/packing/index") Cancel
					.col-md-6
