block title
  title ADD SCHEDULE
.portlet.box.grey()
  .portlet-title
    .caption
      i.fa.fa-reorder
      | {{title}}
    .tools
      a.collapse(href="javascript:;")
  .portlet-body.form
    form.form-horizontal(role="form", name="save_form", ng-submit="save_form.$valid && saveSched()", novalidate)
      .form-body
        .row
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                select.select2me.form-control.select2-offscreen(ng-model="schedules.schedule_type", ng-options="schedule_type.name for schedule_type in schedule_types", ng-selected="{{schedules.schedule_types.name}}" ,tabindex="-1", required)
                span.col-md-12.help-block Schedule Type
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                input.form-control(type="text", ng-model="schedules.schno", readonly)
                span.col-md-12.help-block Sched Number
        .row
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                select.select2me.form-control.select2-offscreen(ng-change="CustomerChange()",ng-model="schedules.customer", ng-options="customer.company_name for customer in customers track by customer.company_name", ng-selected="{{schedules.customer.company_name}}" ,tabindex="-1", required)
                span.col-md-12.help-block Customer
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                select.select2me.form-control.select2-offscreen( ng-model="schedules.brand", ng-disabled="action=='read'",ng-options="brand.name for brand in brands track by brand.name",required)
                span.col-md-12.help-block Brand
     
        .row
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                input.form-control(type="text", ng-model="schedules.customer.sales_executive", ng-disabled="action=='read'",readonly)
                span.col-md-12.help-block Educator
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                input.form-control(type="text", ng-model="schedules.customer.sales_executive", ng-disabled="action=='read'",readonly)
                span.col-md-12.help-block Sales Executive
        .row
            .col-md-6
              .form-group
                .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                  input.form-control(type="text", ng-model="schedules.startDate" ,  datepicker-popup="{{'MM/dd/yyyy'}}", ng-disabled="action=='read'",required)
                  span.col-md-12.help-block Start Date
            .col-md-6
              .form-group
                .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                  input.form-control(type="text",   ng-model="schedules.start_time" ng-minlength="0", ng-maxlength="20", ui-mask="99:99", ng-disabled="action=='read'")
                  span.col-md-12.help-block Start Time
     
       .form-actions.fluid
        .row
          .col-md-6
            .col-md-offset-3.col-md-9
              button.btn.green(type="submit" ng-show="save_form.$valid && action!='read'") Submit
              | &nbsp;
              button.btn.red(type="button", ng-click="rejectSchedule(schedules)", ng-show="action=='edit' || action=='approve'") Reject
              | &nbsp;
              a.btn.default(type="button", href="/#/calendar/index") Cancel
          .col-md-6
