block title
  title ADD SCHEDULE
.portlet.box.grey()
  .portlet-title
    .caption
      i.fa.fa-reorder
      | {{title}}
    .tools
      a.collapse(href="javascript:;")
  .portlet-body.form
    form.form-horizontal(role="form", name="save_form", enctype="multipart/form-data", ng-submit="save_form.$valid && savePacking()", novalidate)
      .form-body
        .row
          .col-md-1
          .col-md-10
            .form-group
              .col-xs-12.col-sm-12.col-md-12.col-lg-12(align="center")
                select.select2me.form-control.select2-offscreen(ng-model="schedule.company_name", ng-options="customer.company_name for customer in customers track by customer.company_name", ng-selected="{{sales.customer.company_name}}" ,tabindex="-1", required, ng-disabled="sales.ordered_items && sales.ordered_items.length")
                span.col-md-12.help-block Customer
          .col-md-1
        .row
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                select.select2me.form-control.select2-offscreen(ng-model="schedule.beauty_educator", tabindex="-1",ng-options="", ng-disabled="action=='read'",required)
                span.col-md-12.help-block Beauty Educator
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                select.select2me.form-control.select2-offscreen(ng-model="schedule.sales_executive", tabindex="-1",ng-options="", ng-disabled="action=='read'",required)
                span.col-md-12.help-block Sales Executive
        .row
            .col-md-6
              .form-group
                .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                  input.form-control(type="text", ng-model="schedule.startDate", ng-disabled="action=='read'",required)
                  span.col-md-12.help-block Start Date
            .col-md-6
              .form-group
                .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                  input.form-control(type="text", ng-model="schedule.startTime", ng-disabled="action=='read'",required)
                  span.col-md-12.help-block Start Time
        .portlet.box.grey
          .portlet-title
            .caption
              i.fa.fa-reorder
              | DEMO PRODUCTS
            .tools
              a.collapse(href="javascript:;")
          .portlet-body.form
            .form-body
              br
              br
              .row(ng-hide="action=='read'")
                .col-md-1
                .col-md-10
                  .col-md-4
                    .form-group
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        select.select2me.form-control.select2-offscreen(ng-model="schedule.item", ng-options="product.bl_code for product in products")
                        span.col-md-12.help-block Code
                  .col-md-5
                    .form-group
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        select.select2me.form-control.select2-offscreen(ng-model="schedule.item", ng-options="product.name for product in products")
                        span.col-md-12.help-block Product
                  .col-md-2
                    .form-group
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        input.form-control(type="number", ng-min="1", ng-minlength="0", ng-maxlength="20", ng-model="schedule.item.quantity")
                        span.col-md-12.help-block Quantity
                  .col-md-1
                    button.btn-sm.green.custom-right(type="button",ng-click="addItem(schedule)")
                      i.fa.fa-plus
                .col-md-1
              .form-group
                .col-md-1
                .col-md-10
                  .row
                    br
                    .col-md-12
                      .portlet-body.flip-scroll
                        table.table.table-bordered.table-condensed.flip-content
                          thead.flip-content.bg-grey
                            tr
                              th Code
                              th Product
                              th Quantity
                              th(width="5%", ng-hide="action=='read'") Action
                          tbody
                            tr(ng-repeat="ordered_item in sales.ordered_items track by $index")
                              td {{ordered_item.bl_code}}
                              td {{ordered_item.name}}
                              td {{ordered_item.quantity}}
                              td {{ordered_item.price}}
                              td {{ordered_item.total}}
                              td(width="5%", ng-hide="action=='read'")
                                .btn-group.btn-group-xs.btn-group-solid
                                  a.tooltips.btn.default.tooltips(ng-click="removeOrder($index)", data-container="body", data-placement="top", data-html="true", data-original-title="Delete Record")
                                    i.fa.fa-trash-o
                .col-md-1
      .form-actions.fluid
        .row
          .col-md-6
            .col-md-offset-3.col-md-9
              button.btn.green(type="submit" ng-show="save_form.$valid && action!='read'") Submit
              | &nbsp;
              button.btn.red(type="button", ng-click="deleteSchedule(schedule)", ng-show="action=='edit' || action=='approve'") Delete
              | &nbsp;
              a.btn.default(type="button", href="/#/calendar/index") Cancel
          .col-md-6
