block title
  title Demo and Event Calendar
div.row
  div.col-md-12
    div.portlet.box.blue.calendar
      div.portlet-title
        div.caption
          i.fa.fa-reorder
          | Calendar
      div.portlet-body.light-grey
        div.row
          div.col-md-12.col-sm-12
            div#calendar.has-toolbar
script(type='text/javascript').
  jQuery(document).ready(function() {
    Calendar.init();
  });
