.row
	.col-md-2
	.col-md-8
		.alert.alert-warning(role='alert')
			h1.center You are not allowed to access this page
		.col-md-2
		.col-md-8
		img(src='/../../../assets/img/warning.png').animated.infinite.flipInX
		.col-md-2
	.col-md-2