block title
	title PRODUCT UPLOADER
.portlet.box.grey(ng-if="ajax_ready", ng-init="formInit()")
	.portlet-title
		.caption
			i.fa.fa-reorder
			| {{title}}
		.tools
			a.collapse(href="javascript:;")
	.portlet-body.form
		.form-body
			br
			.row(ng-hide="action=='read'")
				.col-md-1
				.col-md-10
					.col-md-7
						.form-group
							.col-xs-12.col-sm-12.col-md-12.col-lg-12
								select.select2me.form-control.select2-offscreen(ng-model="product.inventory", ng-options="customer.company_name for customer in inventory_locations")
								span.col-md-12.help-block Inventory Location
					.col-md-4
						.form-group
							.col-xs-12.col-sm-12.col-md-12.col-lg-12
								input.form-control(type="number", ng-minlength="0", ng-maxlength="20", ng-model="product.inventory.quantity")
								span.col-md-12.help-block	Quantity
					.col-md-1
						button.btn-sm.green.custom-right(type="button",ng-click="addInventory(product)")
							i.fa.fa-plus
				.col-md-1
			.form-group
				.col-md-1
				.col-md-10
					.row
						br
						.col-md-12
							.portlet-body.flip-scroll
								table.table.table-bordered.table-condensed.flip-content
									thead.flip-content.bg-grey
										tr
											th Inventory Location
											th Quantity
											th(ng-hide="action=='read' || action=='approve'") Action
									tbody
										tr(ng-repeat="item in product.inventories")
											td {{item.company_name}}
											td {{item.quantity}}
											td(width="5%", ng-hide="action=='read' || action=='approve'")
												.btn-group.btn-group-xs.btn-group-solid
													a.tooltips.btn.default(ng-click="removeInventory($index)", data-container="body", data-placement="top", data-html="true", data-original-title="Delete Record")
														i.fa.fa-trash-o
								.col-md-1
				.portlet.box.grey
					.portlet-title
						.caption
							i.fa.fa-reorder
							| MOVEMENT HISTORY
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.form-body
							br
							.row(ng-hide="action!='read'")
							.form-group
								.col-md-1
								.col-md-10
									.row
										br
										.col-md-12
											.portlet-body.flip-scroll
												table.table.table-bordered.table-condensed.flip-content
													thead.flip-content.bg-grey
														tr
															th Reference
															th BL Code
															th Item
															th Brand
															th Quantity
															th UOM
															th location
															th View
													tbody
														tr(ng-repeat="record in movement_history")
															td {{record.reference.value}}
															td {{record.item.bl_code}}
															td {{record.item.name}}
															td {{record.item.brand}}
															td {{record.item.quantity}}
															td {{record.item.uom}}
															td {{record.location}}
															td(width="5%") a(href="http://{{item.link}}")
																//- .btn-group.btn-group-xs.btn-group-solid
																//- 	a.tooltips.btn.default(ng-click="($index)", data-container="body", data-placement="top", data-html="true", data-original-title="View Record")
																		i.fa.fa-trash-o
								.col-md-1
				.portlet.box.grey(ng-show="product.uom=='Package'")
					.portlet-title
						.caption
							i.fa.fa-reorder
							| PACKAGE INCLUSION
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.form-body
							br
							.row(ng-hide="action=='read'")
								.col-md-1
								.col-md-10
									.col-md-7
										.form-group
											.col-xs-12.col-sm-12.col-md-12.col-lg-12
												select.select2me.form-control.select2-offscreen(ng-model="product.package", ng-options="product.name for product in products")
												span.col-md-12.help-block Product
									.col-md-4
										.form-group
											.col-xs-12.col-sm-12.col-md-12.col-lg-12
												input.form-control(type="number", ng-minlength="0", ng-maxlength="20", ng-model="product.package.quantity")
												span.col-md-12.help-block	Quantity
									.col-md-1
										button.btn-sm.green.custom-right(type="button",ng-click="addPackage(product)")
											i.fa.fa-plus
								.col-md-1
							.form-group
								.col-md-1
								.col-md-10
									.row
										br
										.col-md-12
											.portlet-body.flip-scroll
												table.table.table-bordered.table-condensed.flip-content
													thead.flip-content.bg-grey
														tr
															th Product
															th Quantity
															th(ng-hide="action=='read' || action=='approve'") Action
													tbody
														tr(ng-repeat="item in product.packages")
															td {{item.name}}
															td {{item.quantity}}
															td(width="5%", ng-hide="action=='read' || action=='approve'")
																.btn-group.btn-group-xs.btn-group-solid
																	a.tooltips.btn.default(ng-click="removePackage($index)", data-container="body", data-placement="top", data-html="true", data-original-title="Delete Record")
																		i.fa.fa-trash-o
								.col-md-1
				.portlet.box.grey(ng-show="action=='read'")
					.portlet-title
						.caption
							i.fa.fa-reorder
							| ALMOST THE SAME WITH THE FF
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.row
							br
							.col-md-12(height="160")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
						.row
							br
							.col-md-12(height="160")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
			.form-actions.fluid
				.row
					.col-md-6
						.col-md-offset-3.col-md-9
							button.btn.green(type="submit" ng-show="save_form.$valid && action!='read'") Submit
							| &nbsp;
							button.btn.red(type="button", ng-click="deleteProduct(product)", ng-show="action=='edit' || action=='approve'") Delete
							| &nbsp;
							a.btn.default(type="button", href="/#/product/index") Cancel
					.col-md-6
