block title
	title ADD SHIPMENT
.portlet.box.grey
					.portlet-title
						.caption
							i.fa.fa-reorder
							| ADD SHIPMENT
						.tools
							a.collapse(href="javascript:;")
							a.config(href="#portlet-config", data-toggle="modal")
							a.reload(href="javascript:;")
							a.remove(href="javascript:;")
					.portlet-body.form
						form.form-horizontal(role="form", name="add_form", ng-submit="add_form.$valid && addShipment()", novalidate)
							.form-body
								.alert.alert-danger.display-hide
									button.close(data-close="alert")
									| You have some form errors. Please check below.
								.alert.alert-success.display-hide
									button.close(data-close="alert")
									| Your form validation is successful!
								.row
									.col-md-6
										.form-group
											.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
												select.select2me.form-control.select2-offscreen(ng-model="shipment.supplier", ng-options="supplier.supplier as supplier.supplier for supplier in suppliers", ng-selected="{{shipment.supplier}}" required)
												span.col-md-12.control-label	Supplier
									.col-md-6
										.form-group
											.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
												input#shipmentNo.form-control(type="text", ng-model="shipment.shipno" disabled)
												span.col-md-12.control-label	Shipment Number
								.row
									.col-md-6
										.form-group
													.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
														input#referenceNo.form-control(type="text", ng-model="shipment.reference_number" required)
														span.col-md-12.control-label	Reference Number
									.col-md-6
										.form-group
											.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
												input#arrivalDate.form-control(type="text", ng-model="shipment.arrival_date", datepicker-popup="{{format}}" required)
												span.col-md-12.control-label	Arrival Date
								.row
									.col-md-12
										.form-group
											.col-md-2.col-lg-2
											.col-md-8.col-xs-12.col-sm-12.col-lg-8
												textarea#shipmentNotes.text-area.form-control(ng-model="shipment.notes" required)
												span.col-md-12.control-label	Special Instructions
											.col-md-2.col-lg-2
								.portlet.box.grey
									.portlet-title
										.caption
											i.fa.fa-reorder
											| SHIPMENT ITEMS
										.tools
											a.collapse(href="javascript:;")
									.portlet-body.form
										.form-body
											br
											br
											.row
												.col-md-12
													.col-md-3
														.form-group
															.col-xs-12.col-sm-12.col-md-12.col-lg-12
																select.select2me.form-control.select2-offscreen(ng-model="shipments.item.product", ng-options="product.name for product in products track by product.name")
																span.col-md-12.help-block	Product
													.col-md-2
														.form-group
															.col-xs-12.col-sm-12.col-md-12.col-lg-12
																input.form-control(type="text", ng-model="shipments.item.quantity")
																span.col-md-12.help-block	Quantity
													.col-md-2
														.form-group
															.col-xs-12.col-sm-12.col-md-12.col-lg-12
																input.form-control(type="text", ng-model="shipments.item.cost")
																span.col-md-12.help-block	Cost
													.col-md-2
														.form-group
															.col-xs-12.col-sm-12.col-md-12.col-lg-12
																input.form-control(type="text", ng-model="shipments.item.expiry_date" , datepicker-popup="{{format}}")
																span.col-md-12.help-block	Expiry Date
													.col-md-2
														.form-group
															.col-xs-12.col-sm-12.col-md-12.col-lg-12
																select.select2me.form-control.select2-offscreen(ng-model="shipments.item.condition", ng-options="condition.condition as condition.condition for condition in conditions")
																span.col-md-12.help-block	Condition
													.col-md-1
														button.btn-sm.green.custom-right(type="button",ng-click="addItem(shipments)")
															i.fa.fa-plus
											.form-group
												.col-md-1
												.col-md-10
													.row
														br
														.col-md-12
															.portlet-body.flip-scroll
																table.table.table-bordered.table-condensed.flip-content
																	thead.flip-content.bg-grey
																		tr
																			th Product
																			th Quantity
																			th Cost
																			th Expiry Date
																			th Condition
																			th(width="5%")
																	tbody
																		tr(ng-repeat="shipment_item in shipment.shipment_items")
																			td {{shipment_item.product.name}}
																			td {{shipment_item.quantity}}
																			td {{shipment_item.cost}}
																			td {{shipment_item.expiry_date}}
																			td {{shipment_item.condition}}
																			td(width="5%")
																				.btn-group.btn-group-xs.btn-group-solid
																					a.tooltips.btn.default.tooltips(ng-click="removeItem($index)", data-container="body", data-placement="top", data-html="true", data-original-title="Delete Record")
																						i.fa.fa-trash-o
												.col-md-1
							.form-actions.fluid
								.row
									.col-xs-10.col-sm-10.col-md-11.col-lg-11
										.custom-right
											button.btn.green(type="submit") Submit
											button.btn.default(type="button", ui-sref="shipments") Cancel
									.col-md-6
