block title
	title SHIPMENTS
.portlet.box.grey
	.portlet-title
		.caption
			i.fa.fa-edit
			| SHIPMENTS
		.tools
			a.collapse(href="javascript:;") 
	.portlet-body(ng-controller="ShipmentCtrl")
		.table-toolbar
			.btn-group(ui-route="/shipment/add", ng-class="{active: $uiRoute}")
				a.btn.tooltips(href="/#/shipment/add", data-container="body", data-placement="top", data-html="true", data-original-title="Add new Record")
					i.fa.fa-plus
		table.table.table-bordered.table-striped( datatable="" dt-options="dtOptions" dt-columns="dtColumns")
