block title
	title ADD PRODUCT PROFILE
.portlet.box.grey(ng-if="ajax_ready",  ng-init="formInit()")
	.portlet-title
		.caption
			i.fa.fa-reorder
			| {{title}}
		.tools
			a.collapse(href="javascript:;")
	.portlet-body.form
		form.form-horizontal(role="form", name="save_form", enctype="multipart/form-data", ng-submit="save_form.$valid && saveProduct()", novalidate)
			.form-body
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#bl_code.form-control(type="text", ng-model="product.bl_code", ng-disabled="action=='read'",required)
								span.col-md-12.help-block BL Code
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select#brand.select2me.form-control.select2-offscreen(ng-model="product.brand", ng-options="br.name as br.name for br in brands", ng-selected="{{product.brand}}" ,tabindex="-1", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Brand
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#name.form-control(type="text", ng-model="product.name", ng-minlength="0", ng-maxlength="700", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Item Name
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#size.form-control(type="text", ng-model="product.size", ng-minlength="0", ng-maxlength="50", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Size
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#color.form-control(type="text", ng-model="product.color", ng-minlength="0", ng-maxlength="25", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Color
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select#uom.select2me.form-control.select2-offscreen(ng-model="product.uom", tabindex="-1",ng-options="uom.name as uom.name for uom in uoms", ng-disabled="action=='read'",required)
								span.col-md-12.help-block UOM
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								.fileinput.fileinput-new(data-provides="fileinput")
									.fileinput-new.thumbnail(style="width: 400px; height: 300px;")
										img(ng-src="{{product.product_photo}}")
									.fileinput-preview.fileinput-exists.thumbnail(style="width: 400px; height: 300px;")
									div.col-md-12(style="text-align:center", ng-show="action != 'read'")
										span.btn.default.btn-file
											span.fileinput-new
												| Upload Photo
											span.fileinput-exists
												| Change
											input(type="file", file-model="product.product_photo")
										a.btn.default.fileinput-exists(href="#", data-dismiss="fileinput")
												| Remove
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#part_no.form-control(type="text", ng-model="product.part_number", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Part Number
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								select#payment_term.select2me.form-control.select2-offscreen(ng-model="product.payment_term", tabindex="-1",ng-options="payment_term.name as payment_term.name for payment_term in payment_terms", ng-selected="{{product.payment_term}}", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Payment Terms
				.row
					.col-md-1
					.col-md-10
						.form-group
							.col-xs-12.col-sm-12.col-md-12.col-lg-12(align="center")
								input#description.form-control(type="text", ng-model="product.description", ng-minlength="0", ng-maxlength="150", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Description Notes
					.col-md-1
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select#status.select2me.form-control.select2-offscreen(ng-model="product.status", tabindex="-1",ng-options="status.name as status.name for status in product_status", ng-selected="{{product.status}}", ng-disabled="action!='read'")
								span.col-md-12.help-block Status
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#supplier_code.form-control(type="text", ng-model="product.supplier_code", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Supplier Code
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select#movement.select2me.form-control.select2-offscreen(ng-model="product.movement", tabindex="-1",ng-options="movement.name as movement.name for movement in movements", ng-selected="{{product.movement}}", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Movement
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								select#supplier.select2me.form-control.select2-offscreen(ng-model="product.supplier", tabindex="-1",ng-options="supplier.name as supplier.name for supplier in suppliers", ng-selected="{{product.supplier}}", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Supplier
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#Family.form-control(type="text", ng-model="product.family", ng-disabled="action=='read'")
								span.col-md-12.help-block Product Family
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#Cost.form-control(type="number", ng-model="product.international_cost", ng-minlength="0", ng-maxlength="20", ng-disabled="action=='read'",required)
								span.col-md-12.help-block International Cost
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#retail_price.form-control(type="number",ng-model="product.retail_price", ng-minlength="0", ng-maxlength="20", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Retail Price
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#professional_price.form-control(type="number", ng-model="product.professional_price", ng-minlength="0", ng-maxlength="20", ng-disabled="action=='read'",required)
								span.col-md-12.help-block Professional Price				
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#sub_distributor_price.form-control(type="number",ng-model="product.sub_distributor_price", ng-minlength="0", ng-maxlength="20", ng-disabled="action=='read'")
								span.col-md-12.help-block Sub-Distributor Price
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#juro_price.form-control(type="number", ng-model="product.special_price", ng-minlength="0", ng-maxlength="20", ng-disabled="action=='read'")
								span.col-md-12.help-block Special Price
				.portlet.box.grey
					.portlet-title
						.caption
							i.fa.fa-reorder
							| INVENTORIES
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.form-body
							br
							.row(ng-hide="action=='read'")
								.col-md-1
								.col-md-10
									.col-md-7
										.form-group
											.col-xs-12.col-sm-12.col-md-12.col-lg-12
												select.select2me.form-control.select2-offscreen(ng-model="product.inventory", ng-options="customer.company_name for customer in inventory_locations")
												span.col-md-12.help-block Inventory Location
									.col-md-4
										.form-group
											.col-xs-12.col-sm-12.col-md-12.col-lg-12
												input.form-control(type="number", ng-minlength="0", ng-maxlength="20", ng-model="product.inventory.quantity")
												span.col-md-12.help-block	Quantity
									.col-md-1
										button.btn-sm.green.custom-right(type="button",ng-click="addInventory(product)")
											i.fa.fa-plus
								.col-md-1
							.form-group
								.col-md-1
								.col-md-10
									.row
										br
										.col-md-12
											.portlet-body.flip-scroll
												table.table.table-bordered.table-condensed.flip-content
													thead.flip-content.bg-grey
														tr
															th Inventory Location
															th Quantity
															th(ng-hide="action=='read' || action=='approve'") Action
													tbody
														tr(ng-repeat="item in product.inventories")
															td {{item.company_name}}
															td {{item.quantity}}
															td(width="5%", ng-hide="action=='read' || action=='approve'")
																.btn-group.btn-group-xs.btn-group-solid
																	a.tooltips.btn.default(ng-click="removeInventory($index)", data-container="body", data-placement="top", data-html="true", data-original-title="Delete Record")
																		i.fa.fa-trash-o
								.col-md-1
				.portlet.box.grey(ng-show="false")
					.portlet-title
						.caption
							i.fa.fa-reorder
							| MOVEMENT HISTORY
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.form-body
							br
							.row(ng-hide="action!='read'")
							.form-group
								.col-md-1
								.col-md-10
									.row
										br
										.col-md-12
											.portlet-body.flip-scroll
												table.table.table-bordered.table-condensed.flip-content
													thead.flip-content.bg-grey
														tr
															th Reference
															th BL Code
															th Item
															th Brand
															th Quantity
															th UOM
															th location
															th View
													tbody
														tr(ng-repeat="record in movement_history")
															td {{record.reference.value}}
															td {{record.item.bl_code}}
															td {{record.item.name}}
															td {{record.item.brand}}
															td {{record.item.quantity}}
															td {{record.item.uom}}
															td {{record.location}}
															td(width="5%") a(href="http://{{item.link}}")
																//- .btn-group.btn-group-xs.btn-group-solid
																//- 	a.tooltips.btn.default(ng-click="($index)", data-container="body", data-placement="top", data-html="true", data-original-title="View Record")
																		i.fa.fa-trash-o
								.col-md-1
				.portlet.box.grey(ng-show="product.uom=='Package'")
					.portlet-title
						.caption
							i.fa.fa-reorder
							| PACKAGE INCLUSION
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.form-body
							br
							.row(ng-hide="action=='read'")
								.col-md-1
								.col-md-10
									.col-md-3
										.form-group
											.col-xs-12.col-sm-12.col-md-12.col-lg-12
												select.select2me.form-control.select2-offscreen(ng-model="product.package", ng-options="product.bl_code for product in products | orderBy:'bl_code'")
												span.col-md-12.help-block Code
									.col-md-4
										.form-group
											.col-xs-12.col-sm-12.col-md-12.col-lg-12
												select.select2me.form-control.select2-offscreen(ng-model="product.package", ng-options="product.name for product in products | orderBy:'name'")
												span.col-md-12.help-block Product
									.col-md-4
										.form-group
											.col-xs-12.col-sm-12.col-md-12.col-lg-12
												input.form-control(type="number", ng-minlength="0", ng-maxlength="20", ng-model="product.package.quantity")
												span.col-md-12.help-block	Quantity
									.col-md-1
										button.btn-sm.green.custom-right(type="button",ng-click="addPackage(product)")
											i.fa.fa-plus
								.col-md-1
							.form-group
								.col-md-1
								.col-md-10
									.row
										br
										.col-md-12
											.portlet-body.flip-scroll
												table.table.table-bordered.table-condensed.flip-content
													thead.flip-content.bg-grey
														tr
															th BL Code
															th Product
															th Quantity
															th(ng-hide="action=='read' || action=='approve'") Action
													tbody
														tr(ng-repeat="item in product.packages")
															td {{item.bl_code}}
															td {{item.name}}
															td {{item.quantity}}
															td(width="5%", ng-hide="action=='read' || action=='approve'")
																.btn-group.btn-group-xs.btn-group-solid
																	a.tooltips.btn.default(ng-click="removePackage($index)", data-container="body", data-placement="top", data-html="true", data-original-title="Delete Record")
																		i.fa.fa-trash-o
								.col-md-1
				.portlet.box.grey(ng-show="action=='read'")
					.portlet-title
						.caption
							i.fa.fa-reorder
							| ALMOST THE SAME WITH THE FF
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.row
							br
							.col-md-12(height="160")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
						.row
							br
							.col-md-12(height="160")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
								.col-md-3
									img(src="http://www.placehold.it/220x150/EFEFEF/AAAAAA&text=no+image", alt="")
			.form-actions.fluid
				.row
					.col-md-6
						.col-md-offset-3.col-md-9
							button.btn.green(type="submit" ng-show="save_form.$valid && action!='read'") Submit
							| &nbsp;
							button.btn.red(type="button", ng-click="deleteProduct(product)", ng-show="action=='edit' || action=='approve'") Delete
							| &nbsp;
							a.btn.default(type="button", href="/#/product/index") Cancel
					.col-md-6
