block title
  title ERP | SALES
.portlet.box.grey(ng-if="ajax_ready", ng-init="init()")
  .portlet-title
    .caption
      i.fa.fa-edit
      | {{title}}
    .tools
      a.collapse(href="javascript:;")
      //- script(src='public/vendor/ui-utils/ui-utils.min.js')
  .portlet-body
    br
    .row
      .col-md-10
        .col-md-4
          .form-group
            .col-md-12
              select.select2me.form-control.select2-offscreen(ng-model="report.period", ng-options="period.name as period.name for period in report_periods")
              span.col-md-12.help-block Select Reports Period
        .col-md-4
          .form-group
            .col-md-12(ng-show="report.period=='day'")
              input.form-control(type="text", ng-model="report.value")
              span.col-md-12.help-block Enter Starting Date
            .col-md-12(ng-show="report.period=='week'")
              input.form-control(type="text", ng-model="report.value")
              span.col-md-12.help-block Enter Starting Date of Week
            .col-md-12(ng-show="report.period=='month'")
              input.form-control(type="text", ng-model="report.value")
              span.col-md-12.help-block Enter Month
            .col-md-12(ng-show="report.period=='annual' || report.period=='quarter' || report.period=='month'")
              input.form-control(type="text", ng-model="report.year")
              span.col-md-12.help-block Enter Year
        .col-md-2(ng-show="report.period=='quarter'")
          .form-group
            .col-md-12
              input.form-control(type="text", ng-model="report.quarter")
              span.col-md-12.help-block Enter Quarter
        .col-md-2
          .col-md-12
            button.btn.green.btn.btn-default(type="submit" ng-click="generateReport()") Generate Report
      .col-md-2
    .row(ng-show="type=='customer'").col-md-12
      .col-md-6
        .form-group
          .col-xs-12.col-sm-12.col-md-12.col-lg-12(align="center")
            select.select2me.form-control.select2-offscreen(ng-model="report.customer", ng-options="customer.company_name as customer.company_name for customer in customers")
            span.col-md-12.help-block Customer
      .col-md-6
    .row(ng-show="type=='product'").col-md-12
      .col-md-12
      .form-group
        .col-md-4
          .form-group
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              select.select2me.form-control.select2-offscreen(ng-model="report.product", ng-options="product.bl_code for product in products")
              span.col-md-12.help-block Code
        .col-md-4
          .form-group
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              select.select2me.form-control.select2-offscreen(ng-model="report.product", ng-options="product.name for product in products")
              span.col-md-12.help-block Product
        .col-md-4
    .row(ng-show="type=='brand'").col-md-12
      .col-md-6
        .form-group
          .col-md-12
            select.select2me.form-control.select2-offscreen(ng-model="report.brand", ng-options="brand.name as brand.name for brand in brands")
            span.col-md-12.help-block Select Brand
      .col-md-6
    .row(ng-show="type=='se'").col-md-12
      .col-md-6
        .form-group
          .col-md-12
            select#userId.select2me.form-control.select2-offscreen(ng-model="report.sales_executive", ng-selected="report.sales_executive", ng-options="sales_executive.fullname as sales_executive.fullname for sales_executive in sales_executives", required)
            span.col-md-12.help-block	Select Sales Executive
      .col-md-6
        br
        br
        br
    .table-toolbar(ng-show='"{{addUrl}}"?true:false')
      .btn-group.btn-group-xs.btn-group-solid
        a.btn.default.tooltips(href="{{addUrl}}", data-container="body", data-placement="top", data-html="true", data-original-title="Add new Record")
          i.fa.fa-plus
    table.table.table-bordered.table-striped( datatable="" dt-options="dtOptions" dt-columns="dtColumns")
.portlet.box.grey(ng-if="ajax_ready && dtOptions1",  ng-init="init()")
  .portlet-title
    .caption
      i.fa.fa-edit
      | {{title1}}
    .tools
      a.collapse(href="javascript:;")
  .portlet-body
    .table-toolbar(ng-show='"{{addUrl}}"?true:false')
      .btn-group.btn-group-xs.btn-group-solid
        a.btn.default.tooltips(href="{{addUrl}}", data-container="body", data-placement="top", data-html="true", data-original-title="Add new Record")
          i.fa.fa-plus
    table.table.table-bordered.table-striped( datatable="" dt-options="dtOptions1" dt-columns="dtColumns1")
