block title
  title CHECKING
.portlet.box.grey(ng-if="ajax_ready",  ng-init="formInit()")
  .portlet-title
    .caption
      i.fa.fa-edit
      | CHECK DUPLICATE
    .tools
      a.collapse(href="javascript:;")
  .portlet-body.form
      .row
        br
        .col-md-12
          .portlet-body.flip-scroll
            .caption DUPLICATE
            table.table.table-bordered.table-condensed.flip-content
              thead.flip-content.bg-grey
                tr
                  th Code
                  th Product
                  th rquantity
                  th quantity
              tbody
                tr(ng-repeat="item in duplicate track by 'item._id'")
                  td {{item.bl_code}}
                  td {{item.name}}
                  td {{item.inventories[0].rquantity}}
                  td {{item.inventories[0].quantity}}
        .col-md-2
        br
        br
        br
      .row
        .col-md-4
          .form-group
            .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
              input.form-control(type="text", ng-model="products.length", readonly)
              span.col-md-12.help-block Total Products
        .col-md-4
          .form-group
            .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
              input.form-control(type="text", ng-model="duplicate.length", readonly)
              span.col-md-12.help-block Duplicated bl_code
        .col-md-4
          .col-md-offset-3.col-md-9
            button.btn.green(type="button", ng-click="traceDuplicate()") Trace
        br
        br
      .row
        br
        .col-md-12
          .portlet-body.flip-scroll
            table.table.table-bordered.table-condensed.flip-content
              thead.flip-content.bg-grey
                tr
                  th Code
                  th Product
                  th rquantity
                  th quantity
              tbody
                tr(ng-repeat="item in products")
                  td {{item.bl_code}}
                  td {{item.name}}
                  td {{item.inventories[0].rquantity}}
                  td {{item.inventories[0].quantity}}
        .col-md-2
        br
        br
        br

      .form-actions.fluid
        .row
          .col-md-6
            .col-md-offset-3.col-md-9
              a.btn.yellow(type="button", ng-show="update_finished == true", href="/#/") Confirm Update
              | &nbsp;
              button.btn.green(type="submit", ng-show="showUpload") Upload
              |	&nbsp;
              a.btn.green(ng-click="approveData(inventories)", ng-show="inventories[0] && update_finished != true") Update Inventory
              | &nbsp;
              a.btn.default(type="button", href="/#/", ng-hide="update_finished == true") Cancel
          .col-md-6
