block title
  title INVENTORY
.portlet.box.grey(ng-if="ajax_ready",  ng-init="formInit()")
  .portlet-title
    .caption
      i.fa.fa-edit
      | CHECK INVENTORY
    .tools
      a.collapse(href="javascript:;")
  .portlet-body.form
      .row
        .col-md-4
              span.col-md-12.info Total Products = {{products.length}}
        .col-md-4
        .col-md-4
      .row
        br
        .col-md-1
        .col-md-10
          .portlet-body.flip-scroll
            table.table.table-bordered.table-condensed.flip-content
              thead.flip-content.bg-grey
                tr
                  th Code
                  th Product
                  th Brand
                  th quantity
              tbody
                tr(ng-repeat="item in products")
                  td {{item.bl_code}}
                  td {{item.name}}
                  td {{item.brand}}
                  td {{item.inventories[0].quantity}}
        .col-md-1
        br
        br
        br

      .form-actions.fluid
        .row
          .col-md-6
            .col-md-offset-3.col-md-9
              a.btn.yellow(type="button", ng-show="update_finished == true", href="/#/") Confirm Update
              | &nbsp;
              button.btn.green(type="submit", ng-show="showUpload") Upload
              |	&nbsp;
              a.btn.green(ng-click="approveData(inventories)", ng-show="inventories[0] && update_finished != true") Update Inventory
              | &nbsp;
              a.btn.default(type="button", href="/#/", ng-hide="update_finished == true") Cancel
          .col-md-6
