block title
  title TRIP TICKET
.portlet.box.grey(ng-if="ajax_ready", ng-init="formInit()")
  .portlet-title
    .caption
      i.fa.fa-reorder
      | {{title}}
    .tools
      a.collapse(href="javascript:;")
  .portlet-body.form
    form.form-horizontal(role="form", name="save_form", enctype="multipart/form-data", ng-submit="save_form.$valid && saveTrip()", novalidate)
      .form-body
        .row
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                select.select2me.form-control.select2-offscreen(ng-change="ListChange()", ng-model="trip.inventory_location", tabindex="-1",ng-options="inventory_location._id as inventory_location.company_name for inventory_location in inventory_locations", ng-disabled="action=='read'",required)
                span.col-md-12.help-block Inventory Location
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                input.form-control(type="text", ng-model="trip.trpno", readonly)
                span.col-md-12.help-block Trip Ticket Number
        .row
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                input.form-control(type="text", ng-model="trip.delivery_date", datepicker-popup="{{'MM/dd/yyyy'}}", ng-disabled="action=='read'")
                span.col-md-12.help-block Delivery Date
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                input.form-control(type="text", ng-model="trip.prepared_by", ng-disabled="action=='read'",required)
                span.col-md-12.help-block Prepared By
        .portlet.box.grey
          .portlet-title
            .caption
              i.fa.fa-reorder
              | LIST OF ORDER
            .tools
              a.collapse(href="javascript:;")
          .portlet-body.form
            .form-body
              .form-group
                .col-md-12
                  .row
                    br
                    .col-md-12
                      .portlet-body.flip-scroll
                        table.table.table-bordered.table-condensed.flip-content
                          thead.flip-content.bg-grey
                            tr
                              th DR Number
                              th Customer
                              th Shipping Address
                              th Departure
                              th Arrival
                              th Received By
                              th Status
                              th(width="5%", ng-hide="action=='read'") Action
                          tbody
                            tr(ng-repeat="item in trip.list")
                              td {{item.drno}}
                              td {{item.customer}}
                              td {{item.shipping_address}}
                              td
                                input.form-control(type="text", ng-model="item.departure_date", datepicker-popup="{{'MM/dd/yyyy'}}", ng-disabled="action=='read'", ng-required="action=='edit'")
                              td
                                input.form-control(type="text", ng-model="item.arrival_date", datepicker-popup="{{'MM/dd/yyyy'}}", ng-disabled="action=='read'", ng-required="action=='edit'")
                              td
                                input.form-control(type="text", ng-model="item.received_by", ng-disabled="action=='read'", ng-required="action=='read'")
                              td(width="13%")
                                select.select2me.form-control.select2-offscreen(ng-model="item.status", tabindex="-1", ng-disabled="action=='read'", ng-required="action=='edit'", ng-selected="Good")
                                  option(value="delivered") Delivered
                                  option(value="failed") Failed
                              td(width="5%", ng-hide="action=='read'")
                                .btn-group.btn-group-xs.btn-group-solid
                                  a.tooltips.btn.default.tooltips(ng-click="removeItem($index)", data-container="body", data-placement="top", data-html="true", data-original-title="Delete Record")
                                    i.fa.fa-trash-o
      .form-actions.fluid
        .row
          .col-md-6
            .col-md-offset-3.col-md-9
              button.btn.green(type="submit" ng-show="save_form.$valid && action!='read' && trip.list.length") Submit
              | &nbsp;
              a.btn.default(type="button", href="/#/trips/index") Cancel
          .col-md-6
