block title
  title ADD TRIP TICKET
.portlet.box.grey
  .portlet-title
    .caption
      i.fa.fa-reorder
      | {{title}}
    .tools
      a.collapse(href="javascript:;")
      a.config(href="#portlet-config", data-toggle="modal")
      a.reload(href="javascript:;")
      a.remove(href="javascript:;")
  .portlet-body.form
    form.form-horizontal(role="form", name="add_form", ng-submit="add_form.$valid && addSales()", novalidate)
      .form-body
        .row
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
               select.select2me.form-control.select2-offscreen(ng-model="tripticket.inventory_location", ng-options="inventory_location._id as inventory_location.company_name for inventory_location in inventory_locations", ng-selected="{{tripticket.inventory_location}}" ,tabindex="-1", required)
                span.col-md-12.help-block Inventory Location
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                input#supplier_code.form-control(type="text", ng-model="tripticket.tripno", readonly)
                span.col-md-12.help-block Trip Ticket Number
        .row
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                input.form-control(type="text", ng-model="tripticket.description", ng-minlength="0", ng-maxlength="100", required)
                span.col-md-12.help-block Prepared By
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                input.form-control(type="text", ng-model="tripticket.delivery_date", name="date", datepicker-popup="{{format}}")
                span.col-md-12.help-block Delivery Date
        .portlet.box.grey
          .portlet-title
            .caption
              i.fa.fa-reorder
              | TRIP TICKET
            .tools
              a.collapse(href="javascript:;")
          .portlet-body.form
            .form-body
              br
              br
              .row
                .col-md-1
                .col-md-10
                  .col-md-7
                    .form-group
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        select.select2me.form-control.select2-offscreen(ng-model="consignment.request.item", ng-options="product.name for product in products", ng-selected="{{product.name}}")
                        span.col-md-12.help-block Product
                  .col-md-4
                    .form-group
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        input.form-control(type="text", ng-minlength="0", ng-maxlength="20", ng-model="consignment.request.quantity")
                        span.col-md-12.help-block Quantity
                  .col-md-1
                    button.btn-sm.green.custom-right(type="button",ng-click="addInfo(tripticket)")
                      i.fa.fa-plus
                .col-md-1
              .form-group
                .col-md-1
                .col-md-10
                  .row
                    br
                    .col-md-12
                      .portlet-body.flip-scroll
                        table.table.table-bordered.table-condensed.flip-content
                          thead.flip-content.bg-grey
                            tr
                              th DR Number
                              th Customer
                              th Shipping Address
                              th Address
                              th Arrival
                              th Departure
                              th Received By
                              th Status
                              th(width="5%") Action
                          tbody
                            tr(ng-repeat="consigned_item in consignment.consigned_items")
                              td {{consigned_item.item.name}}
                              td {{consigned_item.quantity}}
                              td {{consigned_item.quantity}}
                              td {{consigned_item.quantity}}
                              td {{consigned_item.quantity}}
                              td {{consigned_item.quantity}}
                              td {{consigned_item.quantity}}
                              td {{consigned_item.quantity}}
                              td(width="5%")
                                .btn-group.btn-group-xs.btn-group-solid
                                  a.tooltips.btn.default.tooltips(ng-click="removeInfo($index)", data-container="body", data-placement="top", data-html="true", data-original-title="Delete Record")
                                    i.fa.fa-trash-o
                .col-md-1
      .form-actions.fluid
        .row
          .col-md-6
            .col-md-offset-3.col-md-9
              button.btn.green(type="submit") Save &amp; Send
              button.btn.default(type="button", ui-sref="triptickets") Cancel
          .col-md-6
