block title
  title CONSIGNMENT DAILY SALES
.portlet.box.grey(ng-if="ajax_ready", ng-init="formInit()")
  .portlet-title
    .caption
      i.fa.fa-reorder
      | {{title}}
    .tools
      a.collapse(href="javascript:;")
  .portlet-body.form
    form.form-horizontal(role="form", name="save_form", enctype="multipart/form-data", ng-submit="save_form.$valid && saveCycle()", novalidate)
      .form-body
        .row
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                select#userId.select2me.form-control.select2-offscreen(ng-model="cycle.sales_executive", ng-options="sales_executive.fullname as sales_executive.fullname for sales_executive in sales_executives", ng-disabled="action=='read'", required)
                span.col-md-12.help-block	Sales Executive
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                input.form-control(type="text", ng-model="cycle.cycleno", readonly)
                span.col-md-12.help-block Cycle Number
        .row
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                select.select2me.form-control.select2-offscreen(ng-model="cycle.company_name", ng-options="inventory_location.company_name as inventory_location.company_name  for inventory_location in inventory_locations" ,tabindex="-1", ng-disabled=("action=='read' || action=='approve'"),required)
                span.col-md-12.help-block Inventory Location
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                input.form-control(type="text", ng-model="cycle.sales_date", datepicker-popup="{{format}}", ng-disabled="action=='read'")
                span.col-md-12.help-block Date
        .portlet.box.grey
          .portlet-title
            .caption
              i.fa.fa-reorder
              | ITEMS
            .tools
              a.collapse(href="javascript:;")
          .portlet-body.form
            .form-body
              br
              br
              .row(ng-hide="action=='read' || action=='approve'")
                  .col-md-3
                    .form-group 
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        select.select2me.form-control.select2-offscreen(ng-model="cycle.counted_item" , ng-options="product.bl_code for product in products")
                        span.col-md-12.help-block Code
                  .col-md-4
                    .form-group 
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        select.select2me.form-control.select2-offscreen(ng-model="cycle.counted_item", ng-options="product.name for product in products")
                        span.col-md-12.help-block Product 
                  .col-md-2
                    .form-group
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        input.form-control(type="number", ng-min="1", ng-model="cycle.counted_item.quantity")
                        span.col-md-12.help-block Quantity 
                  .col-md-2
                    .form-group
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        input.form-control(type="number", ng-min="1", ng-model="cycle.counted_item.refno")
                        span.col-md-12.help-block Reference Number 
                  .col-md-1
                    button.btn-sm.green.custom-right(type="button",ng-click="addCycle(cycle)")
                      i.fa.fa-plus
              .form-group
                .col-md-1
                .col-md-10
                  .row
                    br
                    .col-md-12
                      .portlet-body.flip-scroll
                        table.table.table-bordered.table-condensed.flip-content
                          thead.flip-content.bg-grey
                            tr
                              th Code
                              th Item Name
                              th Movement
                              th Quantity
                              th Condition ID
                              th(width="5%")(ng-hide="action=='read' || action=='approve'") Action
                          tbody
                            tr(ng-repeat="counted_item in cycle.counted_items track by $index")
                              td {{counted_item.bl_code}}
                              td {{counted_item.name}}
                              td {{counted_item.movement}}
                              td {{counted_item.quantity}}
                              td {{counted_item.condition_id}}
                              td(width="5%")(ng-hide="action=='read'|| action=='approve'")
                                .btn-group.btn-group-xs.btn-group-solid
                                  a.tooltips.btn.default.tooltips(ng-click="removeCycle($index)", data-container="body", data-placement="top", data-html="true", data-original-title="Delete Record")
                                    i.fa.fa-trash-o
                .col-md-1
      .form-actions.fluid
        .row
          .col-md-6
            .col-md-offset-1.col-md-11
              button.btn.blue(type="submit" ng-show="save_form.$valid && (action=='approve')") Submit
              | &nbsp;
              button.btn.green(type="submit" ng-show="save_form.$valid && (action=='add')") Submit
              | &nbsp;
              a.btn.default(type="button", href="/#/cycle/index") Cancel
          .col-md-6
